* { margin: 0; padding: 0; box-sizing: border-box; border: none; text-decoration: none; }

body {
    background-color: #E0E8FF;
}

.pattern {
    width: 100%;
    height: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 580px;
    background-color: #fff;
    border-radius: 45px;
    position: absolute;
    top: 5%;
}

.cardContainer img {
    width: 400px;
    height: 180px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: absolute;
    top: 0;
}

.cardContainer h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color: #1F2F56;
    font-size: 40px;
    margin-top: -50px;
}

.cardContainer p {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #6B6C71;
    width: 355px;
    text-align: center;
    margin-top: 10px;
}

.plan {
    width: 381px;
    height: 100px;
    z-index: 5;
    background-color: #F5F8FF;
    margin-top: -20px;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 25%);
}

.plan img {
    width: 60px;
    height: 60px;
}

.plan h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    color: #1F2F56;
    margin-left: 40px;
}

.plan small {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #7E7F83;
    position: absolute;
    margin-top: 35px;
    margin-left: 100px;
}

.plan a {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: #3829E0;
    font-size: 13px;
    margin-top: 25px;
    right: 20px;
    position: absolute;
}

.payment {
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 45px;
    
}

.payment button {
    background-color: #3829E0;
    color: #fff;
    width: 381px;
    height: 49px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 18px;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 33%);
}

.payment button:hover {
    cursor: pointer;
}

.payment a {
    text-align: center;
    margin-top: 13px;
    color: #6B6C71;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

